body {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300; 
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ff6600;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    color: #55a7ef;
    display: inline;
    margin-right: 10px;
}


ul, ol {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    list-style: disc;
    padding-left: 0;
    text-align: center;
}

.container {
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #df792547, #007bff7c, #ff660077, #ff330073, #17bfc571);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (max-width: 960px) {
    .container {
      width: 700px;
    }
  }

@media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }

@media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }


.card-white {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.list-inline {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.list-inline li {
    display: inline;
    margin-right: 10px;
}


#introduction h2,
#introduction p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}

.btn:hover {
    background-color: #ff3300;
    color: #fff;
}

